{% extends 'base.html' %}

{% block header %}
  <div class="accounts_header">
    <h1>{% block title %}Overview{% endblock %}</h1>
    {% if g.user %}
    <div class="accounts">
      <h3>Your accounts: </h3>
      <select name="account_selection" class="accounts_selector">
        {% for type_of_account in accounts %}
          <optgroup label="{{ type_of_account }}">
            {% for account in accounts[type_of_account] %}
            <option value="{{account[name_of_account]}}">{{account['name_of_account']}} : ${{account['balance']}}</option>
            {% endfor %}
          </optgroup>
          {% endfor %}
          <optgroup label="Add new account">
            <option value="new_account">+</option>
          </optgroup>
          <optgroup label="View all the logs">
            <option value="general">General</option>
          </optgroup>
      </select>
    </div>
    {% endif %}
  </div>
  {% if g.user %}
  <div class="actions">
    <a class="action" href="{{ url_for('overview.create') }}">+ New Entry</a>
    <div class="option_panel">
      <input type="checkbox" id="subtotal" name="subtotal" value="{{subtotal}}">
      <label for="subtotal">Subtotals</label>
    </div>
  </div>
  {% else %}
    <div class="unauthorized_main">
      <h1> You are not logged in. Log in or Register</h1>
      <img src="./static/growth-arrow-icon-isolated.jpg" alt="Follow the register button if you dont have an account or the login if you already do" width="100" height="100">
    </div>

  {% endif %}
{% endblock %}

{% block content %}
  <div class="wrapper_container" id="wrapper_container">

    {% for post in posts %}
    <div class="post-container {% if post['type_of_transaction'] == 0 %}expense{% else %}income{% endif %}">
      <h1>
        {% if post['type_of_transaction'] == 0 %}E{% else %}I{% endif %}
      </h1>
      <h2>{{ post['title']}}</h2>
      <h1 id="log-amount">{{ post['amount']}} $</h1>
      <h2>{{ post['created']}}</h2>
      <!-- The last h2 will be added dynamically-->
    </div>
    {% endfor %}
  </div>
    
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const container = document.getElementById('wrapper_container');
      const checkbox = document.querySelector("input[name=subtotal]");
      const subtotal_column = document.getElementById('optional-subtotal');
    
      const node = document.createElement('h2')
      const textNode = document.createTextNode('Test')
      node.appendChild(textNode)
      checkbox.addEventListener('change', function(val) {
        var logs = container.children
        for (var i = 0; i < logs.length; i++) {
          var sub_log = logs[i]
          // var sub_amount = sub_log.get
          console.log(sub_log.children)

          // TODO use this to calculate subtotal of the current sub_log
          if (this.checked){
              var h2Element = document.createElement('h2')
              h2Element.textContent += 'Test'
              sub_log.appendChild(h2Element)
              
            } else {
              sub_log.removeChild(sub_log.lastElementChild)
          }
        }
      })
    })
  </script>
    
{% endblock %}