{% extends 'base.html' %}

{% block header %}
  <div class="accounts_header">
    <h1>{% block title %}Overview{% endblock %}</h1>
    {% if g.user %}
    <div class="accounts">
      <h3>Your <a href="{{ url_for('account_management.index')}}">accounts</a>: </h3>
      <select name="account_selection" class="accounts_selector" id="accounts_selector">
        {% for type_of_account in accounts %}
          <optgroup label="{{ type_of_account }}">
            {% for account in accounts[type_of_account] %}
            <option value="{{account[name_of_account]}}">{{account['name_of_account']}} : ${{account['balance']}}</option>
            {% endfor %}
          </optgroup>
          {% endfor %}
          <optgroup label="Add new account">
            <option value="new_account" id="newAccountOption">+</option>
          </optgroup>
          <optgroup label="View all the logs">
            <option value="general">General</option>
          </optgroup>
        </select>
    </div>
    {% endif %}
  </div>
  {% if g.user %}
  <div class="actions">
    <a class="action" href="{{ url_for('overview.create') }}">+ New Entry</a>
    <div class="option_panel">
      <input type="checkbox" id="subtotal" name="subtotal" value="{{subtotal}}">
      <label for="subtotal">Subtotals</label>
    </div>
  </div>
  {% else %}
    <div class="unauthorized_main">
      <h1> You are not logged in. Log in or Register</h1>
      <img src="./static/growth-arrow-icon-isolated.jpg" alt="Follow the register button if you dont have an account or the login if you already do" width="100" height="100">
    </div>

  {% endif %}
{% endblock %}

{% block content %}
  <div class="wrapper_container" id="wrapper_container">

    {% for post in posts %}
    <div class="post-container {% if post['type_of_transaction'] == 0 %}expense{% else %}income{% endif %}">
      <h2>{{ post['created']}}</h2>
      <h2>{{ post['title']}}</h2>
      <h1 id="log-amount">{{ post['amount']}} $</h1>
      <h1 id="tot">
        {% if post['type_of_transaction'] == 0 %}E{% else %}I{% endif %}
      </h1>
      <!-- The last h2 will be added dynamically-->
    </div>
    {% endfor %}
  </div>
    
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const container = document.getElementById('wrapper_container');
      const checkbox = document.querySelector("input[name=subtotal]");
      const subtotal_column = document.getElementById('optional-subtotal');
      const accountsSelector = document.getElementById('accounts_selector');
      

      const node = document.createElement('h2')
      const textNode = document.createTextNode('Test')
      node.appendChild(textNode)
      checkbox.addEventListener('change', function(val) {
        var logs = container.children
        var chosen_options = document.getElementById('accounts_selector');
        var amountText = chosen_options.options[chosen_options.selectedIndex].text;
        var amount = parseFloat(amountText.split('$').pop());
        for (var i = 0; i < logs.length; i++) {
          var sub_log = logs[i]
          if (this.checked){
            var sub_log_text = sub_log.innerHTML
            var tempElement = document.createElement('div');
            tempElement.innerHTML = sub_log_text;
            var logAmountElement = tempElement.querySelector('#log-amount');
            var logAmount = parseFloat(logAmountElement.textContent.trim());

            // Log the extracted float
            var totElement = tempElement.querySelector('#tot');
            var type_of_transaction = totElement.textContent.trim();
            var new_amount = type_of_transaction === 'E'? amount + logAmount: amount - logAmount;

            var h2Element = document.createElement('h2')
            h2Element.textContent += new_amount.toFixed(2).toString();
            sub_log.appendChild(h2Element)

            amount = new_amount;
              
            } else {
              sub_log.removeChild(sub_log.lastElementChild)
          }
        }
      });
      accountsSelector.addEventListener('change', function () {
            var selectedOption = accountsSelector.options[accountsSelector.selectedIndex];

            if (selectedOption.value === 'new_account') {
                // Redirect to the account create page
                window.location.href = "{{ url_for('account_management.create') }}";
                // console.log('We are here')
            }
        });  
    })
  </script>
    
{% endblock %}